.about-container{
    justify-content: center;
    align-items: center;
}
.profile-picture{
    border-radius: 20%;
}
.about-text{
    font-size: 1.2em;
}
.links-container{
    text-align: center;
}
.custom-link{
    color: #CD5888 !important;
}
.custom-link:hover{
    color: #913175 !important;
    text-decoration: none;
    font-size: 1em;
}